body{
  background-color: white;
  margin: 0;
}
label{
  font-size: 20pt;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
input[type=text],input[type=password]{
  width:100%;
}
Link{
  background-color: aquamarine;
}
.NavBar{
  position: sticky;
  display:flex;
  justify-content: space-between;
  background-color: black;
}
.NavList{
  
}
.NavItem{
  display:inline-block;
  padding: 10px;
  height:90%;
}
.EmpList{
  border:'10px solid red'
}
.EmpItem{
  list-style: none;
  margin :10px 5px;
  border:'10px solid red'
}
.Login,.Register{
  padding:1%;

  background-color: rgba(90,90,90,0.2);

  display:flex;
  justify-content: center;
  align-items: center;
}
.Welcome,.About{
  margin:1%;
  background-color: bisque;
}